/*!
 * Start Bootstrap - Snapcareer
 * Copyright 2013-2019 Start Bootstrap
 */

body {
  overflow-x: hidden;
/*  font-family: 'Raleway', sans-serif;*/
  font-family: Lato;
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav, #secondmainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler, #secondmainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

#mainNav .navbar-brand, #secondmainNav .navbar-brand {
  color: #fed136;
/*  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover,
#secondmainNav .navbar-brand.active, #secondmainNav .navbar-brand:active, #secondmainNav .navbar-brand:focus, #secondmainNav .navbar-brand:hover
{
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link,
#secondmainNav .navbar-nav .nav-item .nav-link
{
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}
#mainNav .navbar-nav .nav-item .nav-link
{
  font-size: 90%;
}

#secondmainNav .navbar-nav .nav-item .nav-link
{
  font-size: 75%;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover,
#secondmainNav .navbar-nav .nav-item .nav-link.active, #secondmainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav, #secondmainNav {
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand,
  #secondmainNav .navbar-brand{
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link,
  #secondmainNav .navbar-nav .nav-item .nav-link{
    padding: 0.5em 1em !important;
    border-radius: 15px;
  }
  #mainNav.navbar-shrink,
  #secondmainNav.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529 !important;
  }
  #mainNav.navbar-shrink .navbar-brand,
  #secondmainNav.navbar-shrink .navbar-brand{
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav.navbar-fixed-top,
  #secondmainNav.navbar-fixed-top{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #d9d9d9;
  }
  #mainNav.navbar-fixed-top .navbar-brand,
  #secondmainNav.navbar-fixed-top .navbar-brand{
    font-size: 1.25em;
    padding: 12px 0;
  }
  .bottomNav {
	position:fixed;
	top:75px;
	background-color: #000;
  }
  
  .navbarSecond {
	  top:75px; 
	  z-index:2000;
	  position:fixed; 
	  left:0px; 
	  width:100%;
  }
  .navbarSecond-shrink {
	  top:75px; 
	  z-index:2000;
	  position:sticky; 
	  background-color:#26272b !important; 
	  border-top: 1px solid #4F4F4F !important;
  }
  
}


header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img_new/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 16px;
  /*font-style: italic;*/
  line-height: 22px;
  margin-bottom: 25px;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

header.masthead .intro-text .intro-heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 28px;
    /*font-style: italic;*/
    line-height: 40px;
    margin-bottom: 25px;
/*    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    font-family: Lato;
	text-shadow: 0px 5px 5px #000;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
/*    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    font-family: Lato;
	text-shadow: 0px 5px 5px #000;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link:hover {
	text-decoration: none;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  border-radius: 0px;
  box-shadow: 20px 20px 0px rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img_new/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fefefe;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
/*  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-family: Lato;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

/*============================================================== custom fix ==============================================================*/

header.masthead {
    text-align: center;
    color: #fefefe;
    background-image: url('../img_new/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.grad {
    background-image: url('../img_new/job-selection-bg.jpg');
}

.bg-featured {
    background-image: url('../img_new/bg-2.jpg');
}

.btn-outline {
    border: 1px solid #fefefe;
}

.nav-tabs {
    text-align: right !important;
}

.nav-tabs > li {
    display: inline-block;
    float: none;
}

#about {
    text-align: center;
    color: #fefefe;
    background-image: url('../img_new/how-it-works-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: cover;
}

#team {
    text-align: center;
    color: #fefefe;
    background-image: url('../img_new/video-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: cover;
}

#video {
    position: relative;
    margin-top: -200px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fefefe;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fefefe;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: left
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #fefefe;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #000000;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fefefe;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
.radius-border {
	border: 1px solid #fefefe;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.btn {
	color: #fefefe !important
}
.dropdown-toggle::after {
	font-family: "FontAwesome";
	content:"\f13a";
	border-top: 0;
	vertical-align: 0
}
.input-search {
	width: 515px;
}
@media (max-width:767px) {
	.input-search {
		width: 50%;
	}
}
.btn-search-blue {
	background-color: #0062cc;
}
#btnGroupDrop1::before {
	font-family: "FontAwesome";
	content:"\f041";
	border-top: 0;
	vertical-align: 0
}
#btnGroupDrop1::after {
	content:"";
}
#btnGroupDrop1 {
	background-color: #fefefe;
	color: #000000 !important;
}

/*Panel tabs*/
.panel-tabs {
    /*position: relative;*/
    bottom: 45px;
    right: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    background: #f1f4f9;
    padding: 10px;
    box-shadow: 0px -1px 5px #CCC;
}

@media screen and (max-width: 768px) {
	.panel-tabs > li {
		width: 100%;
	}
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #fefefe;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #fefefe;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fefefe;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}
.panel-body {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px #ccc;
}
ul.nav.panel-tabs > li > a:hover {
	text-decoration:none;
}
.panel-body:before, .panel-body:after {
    display: table;
    content: " ";
}
.circle-job-bg {
  height: 200px;
  width: 200px;
  background-color: #f1f4f9;
  border-radius: 50%;
  display: inline-block;
}
.view-circle {
    position: relative;
    width: 75px;
    height: 50px;
    margin: -25px;
    background: orange;
    border-radius: 0px 0px 0px 30px;
    color: white;
    text-align: center;
    text-indent: .1em;
}
.view-circle:before {
    content: 'View details';
    position: absolute;
    top: 10%;
    bottom: 0%;
    right: 10%;
    left: 15%;
    font-size: 13px;
}
.orange-sm {
	color: #ff0f03;
	font-size: 18px;
	font-weight: 800
}
.orange-lg {
/*	color: #ff0f03; */
	color: #142d99;
	font-weight: 800
}

.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: #161d25;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fefefe;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: flex !important;
}
@media screen and (max-width: 768px) {
	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		display: inline-block !important;
	}
}
.carousel-indicators {
	bottom: -55px
}
.carousel-indicators li {
	background-color: #888;
}
.carousel-indicators li.active {
	background-color: #ff6c03;
}
p.testi {
	padding: 25px;
    font-size: 12px;
	padding-bottom: 45px;
}
p.testi-orange {
	padding: 25px;
    font-size: 12px;
	background: #ff6c03;
	border-radius: 15px;
	color: #fefefe;
	padding-bottom: 45px;
}
p.testi:before {
	content: open-quote;
}
p.testi-orange:before {
	content: open-quote;
}
p.testi:after {
	content: close-quote;
}
p.testi-orange:after {
	content: close-quote;
}
p.testi:before {
	display:inline;
	font-size: 7em;
	color: #ccc;
	padding: 0;
	position: absolute;
	top: -35px;
	left: 15px;
	opacity: .7;
}
p.testi-orange:before {
	display:inline;
	font-size: 7em;
	color: #ccc;
	padding: 0;
	position: absolute;
	top: -35px;
	left: 15px;
	opacity: .7;
}
p.testi:after {
	display:inline;
	font-size: 7em;
	color: #ccc;
	padding: 0;
	position: absolute;
	-top: 30px;
    right: 15px;
	opacity: .7;
}
p.testi-orange:after {
	display:inline;
	font-size: 7em;
	color: #ccc;
	padding: 0;
	position: absolute;
	-top: 30px;
    right: 15px;
	opacity: .7;
}
.orange-box {
	background: #ff6c03;
	border-radius: 15px;
}
span#triangle {
	width: 60px;
	height: 30px;
	border-top: solid 30px #ff6c03;
	border-left: solid 30px transparent;
	border-right: solid 30px transparent;
	position: absolute;
	left: 42%;
	bottom: 58%;
}
.btn-theme {
	background-color: #ff6c03;
}
.subscribe {
    padding: 5px;
    background: #fefefe;
    border-radius: 5px;
}
.border-0 {
	border: 0;
}
span.centered-element > h4 {
	font-size: 26px !important;
}
.centered-element {
	height: 200px;
    width: 200px;
    position: absolute;
    left: 33.33%;
    margin-left: -55px;
    top: 33.33%;
    margin-top: -33px;
}

img.tab-icon {
	width: 40px;
}

.navbar-nav li.postjob>a {
/*  background: #8aadff;*/
  background: #142d99;
  color: #fefefe;
  padding: 16px 15px;
/*  border-bottom-color: #8aadff;*/
  border-bottom-color: #142d99;
}

/************************************************

           == Cms Pages css==

*************************************************/

.inner-page {
	padding: 50px 0;
}
.inner-page .title {
	text-align: center;
	margin-bottom: 40px;
}
.inner-page .title > span {
	color: #292929;
	font-size: 17px;
	margin-bottom: 10px;
}
.inner-page .title h2 {
	color: #292929;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 1px;
	margin: 0;
}
.inner-page .title > p {
	line-height: 24px;
}
.contact {
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 30px;
}
.contact > span {
/*	color: #8aadff;*/
    color: #142d99;
	float: left;
	font-size: 50px;
	line-height: 30px;
	margin-right: 10px;
	text-align: center;
	width: 70px;
}
.inner-page .fa-home:before {
	content: "\f015";
}
.information {
	overflow: hidden;
	padding-right: 20px;
	margin-top: 5px;
}
.information > strong {
	color: #000;
	display: table;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.information > p {
	line-height: 22px;
	margin: 0;
}
.contact-form input, .contact-form textarea {
	color: #8c8c8c;
	border: 1px solid #ddd;
	font-size: 12px;
	line-height: 32px;
	margin-bottom: 15px;
	padding: 10px 20px;
	width: 100%;
}
.contact-form {
	text-align: right;
}
.contact-form button {
/*	background-color: #18a7ff;*/
	border: 0 none;
	color: #fefefe;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 18px 40px;
	margin-top: 20px;
}

/************************************************

           == User Account css==

*************************************************/

.userccount {
  background: #fefefe;
  border: 1px solid #ddd;
  padding: 25px 30px;
}
.userccount p {
  text-align: center;
  line-height: 24px;
  color: #999;
}
.userccount h5 {
  font-size: 20px;
  color: #555;
  font-weight: 700;
  margin-bottom: 15px;
}
.socialLogin {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.socialLogin a {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #fefefe;
  font-size: 18px;
  margin: 0 5px;
  line-height: 36px;
}
.socialLogin a.fb {
  background: #3b5998;
}
.socialLogin a.gp {
  background: #dd4b39;
}
.socialLogin a.tw {
  background: #00aced;
}
.newuser {
  margin-top: 30px;
  text-align: center;
  color: #666;
  font-size: 18px;
}
.newuser a {
  font-weight: 600;
}
.userbtns .nav-tabs {
  border-bottom: none;
  margin-bottom: 30px;
}
.userbtns .nav-tabs>li {
  width: 50%;
  margin-bottom: 0;
}
.userbtns .nav-tabs>li a {
  border: none;
  background: #eee;
  border-radius: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}
.userbtns .nav-tabs>li a:hover, .userbtns .nav-tabs>li a.active {
  background: #ff6c03;
  border: none;
  color: #fefefe;
}
.userbtns .nav-tabs>li a.active:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff6c03;
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}

.userbtns .nav>li>a {
  position: relative;
}

.formpanel .formrow {
  margin-bottom: 15px;
}

.formpanel .btn {
  width: 100%;
/*  background: #FED136;*/
  color: #fefefe;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.userbtns .nav-tabs>li>a {
  margin-right: 2px;
}

/************************************************

           == Search List css==

*************************************************/

.listpgWraper {
  background: #f0f0f0;
  padding: 20px 0;
  min-height: 400px;
}
.pageSearch {
  margin-bottom: 30px;
}
.pageSearch a.btn {
  background: #FED136;
  color: #fefefe;
  padding: 13px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  display: block;
}
.pageSearch a.btn i {
  font-weight: 400;
  font-size: 24px;
  margin-right: 5px;
}
.pageSearch a.btn:hover {
  background: #fec810;
}
.searchform .row {
  margin: 0 -5px;
}
.searchform .col-md-3, .searchform .col-md-2, .searchform .col-sm-3, .searchform .col-sm-2 {
  padding: 0 5px;
}
.searchform .form-control {
  border-radius: 0;
  height: auto;
  padding: 13px 12px;
  font-size: 16px;
}
.searchform select.form-control {
  padding: 13px 12px;
  background: #fefefe;
  line-height: 45px;
}
.searchform .btn {
  border-radius: 0;
  background: #FED136;
  font-size: 24px;
  color: #fefefe;
  padding: 7px 18px;
}
.searchform .btn:hover {
  background: #fec810;
}

/************************************************

           == Sidebar css==

*************************************************/

.sidebar {
  background: #fefefe;
  border: 1px solid #e4e4e4;
  padding: 20px;
  margin-bottom: 30px;
}
.sidebar .widget {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.sidebar .widget-end {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.sidebar .widget-title {
  font-size: 17px;
  font-weight: 600;
  color: #666;
  margin-bottom: 20px;
}
.optionlist {
  list-style: none;
  padding-inline-start: 0px;
}
.optionlist li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.optionlist li span {
  position: absolute;
  right: 0;
}
.optionlist li input[type=checkbox] {
  display: none;
}
.optionlist li input[type=checkbox] + label {
  width: 20px;
  height: 20px;
  border: 1px solid #e0e0e0;
  background: #f5f5f5;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.optionlist li input[type=checkbox]:checked + label:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #4ece00;
  padding-left: 2px;
  position: relative;
  top: 2px;
}
.sidebar a {
/*  color: #8aadff; */
  color: #142d99;
  display: inline-block;
  margin-top: 10px;
}
.searchnt .btn {
/*  background: #FED136;*/
  display: block;
  border-radius: 0;
  width: 100%;
  color: #fefefe;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
}
.sidebar .gad {
  margin-top: 15px;
  text-align: center;
}
.social a {
  color: #00a8ff;
  font-size: 32px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 0;
}
.social a:hover {
  color: #000;
}
/*Listing*/
.searchList {
  list-style: none;
  padding-inline-start: 0px !important;
}
.searchList li {
  background: #fefefe;
  border: 1px solid #e4e4e4;
  padding: 20px;
  margin-bottom: 30px;
}
.searchList li:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #fed136;
}
.searchList li .jobimg {
  float: left;
  width: 70px;
  margin-right: 15px;
}
.searchList li h3 a {
  font-size: 18px;
  font-weight: 600;
/*  color: #8aadff; */
  color: #142d99;
}
.searchList li .companyName {
  margin: 10px 0;
  color: #969595;
}
.searchList li .companyName a {
  color: #969595;
}
.searchList li a:hover {
  color: #fec810;
}
.searchList li .location {
  color: #000;
}
.searchList li .location span {
  color: #333;
}
.searchList li .listbtn {
  margin-top: 20px;
}
.searchList li .listbtn a {
/*  background: #FED136;*/
  display: block;
  border-radius: 0;
  width: 100%;
  color: #fefefe;
/*  text-transform: uppercase;*/
  font-weight: 700;
  padding: 10px 15px;
  text-align: center;
/*  border: 1px solid #fed136;*/
}
.searchList li .listbtn a:hover {
/*  background: #fec810;*/
  color: #fefefe;
  text-decoration: none;
}
.searchList li p {
  line-height: 22px;
  color: #333;
  margin: 10px 0 0 0;
}
.searchList li .cateinfo {
/*  color: #8aadff; */
  color: #142d99;
  margin: 10px 0;
}
.searchList li .minsalary {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  color: #a8d815;
}
.searchList li .minsalary span {
  color: #999;
  font-weight: 400;
}
.searchListNew .jobimg {
  float: left;
  width: 70px;
  margin-right: 15px;
}
.searchListNew h3 a, .searchListNew .relatedJobtitile a  {
  font-size: 18px;
  font-weight: 600;
  color: #00a8ff;
}
.searchListNew .companyName {
/*  margin: 10px 0;*/
  color: #969595;
}
.searchListNew .companyName a {
  color: #969595;
}
.searchListNew .location {
  color: #555;
}
.searchListNew .location span {
  color: #333;
}
.searchListNew .listbtn {
  margin-top: 20px;
}
.searchListNew .listbtn a {
  background: #fefefe;
  display: block;
  border-radius: 0;
  width: 100%;
/*  color: #8aadff; */
  color: #142d99;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
  text-align: center;
/*  border: 1px solid #8aadff;*/
  border: 1px solid #142d99;
}
.searchListNew .listbtn a:hover {
/*  background: #8aadff;*/
  background: #142d99;
  color: #fefefe;
  text-decoration: none;
}
.searchListNew p {
  line-height: 22px;
  color: #333;
  margin: 10px 0 0 0;
}
.searchListNew .cateinfo {
/*  color: #8aadff;*/
  color: #142d99;
  margin: 10px 0;
}
.searchListNew .minsalary {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  color: #a8d815;
}
.searchListNew .minsalary span {
  color: #999;
  font-weight: 400;
}
/*Pagination*/

.pagiWrap .showreslt {
  font-weight: 600;
  margin-top: 10px;
}
.pagiWrap .pagination {
  text-align: right;
  margin: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0;
}
.strippckinfo{background: #fefefe; padding-top: 20px; padding-right: 30px; margin-bottom: 30px;}
.pkginfo{padding: 8px 0; border-bottom: 1px solid #eee; color: #777;}
.pkginfo strong{color: #FED136; font-weight: 700;}

div.sidebar div.widget div.form-group input {
  font-size: 15px !important;
}

img {
  max-width: 100%;
}

/***************************
		Searh Tabs
***************************/
.tabswrap{border-bottom:3px solid #ff6c03;}
.tabswrap .nav-tabs{border-bottom: none; float: right;}
.tabswrap .nav-tabs>li{margin-bottom:0;}
.tabswrap .nav-tabs>li>a{background:#eee; border-radius:0; font-size:14px; font-weight:700; color:#666; padding:10px 30px;}
.tabswrap .nav-tabs>li.active>a, .tabswrap .nav-tabs>li.active>a:focus, .tabswrap .nav-tabs>li.active>a:hover{background:#FED136; color:#fefefe; border-color:#FED136;}
.tabswrap .nav-tabs>li.last{float:right;}
.tabswrap .nav-tabs>li.last a{background:none; font-size:14px; padding:0; margin:0; border:none; margin-top:7px;}
.tabswrap .nav-tabs>li.last a:hover{border:none; color:#fec810;}



.largebanner {
  text-align: left;
  margin: 30px auto;
  max-width: 748px;
  position: relative;
  background: #fefefe;
  border: 1px solid #fefefe;
  padding: 10px;
  border-radius: 5px;
}
.largebanner img{display: block;}
.shadow3, .shadow4 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.shadow3:before, .shadow3:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 2px;
  left: 15px;
  right: 15px;
  z-index: -1;
  border-radius: 100px/30px;
  -webkit-box-shadow: 0 0 20px 2px #ccc;
  -moz-box-shadow: 0 0 20px 2px #ccc;
  box-shadow: 0 0 20px 2px #ccc;
}

.alligator .list-group-item.active {
  background-color: #FED136;
  border-color: #FED136;
}

.alligator .nav-link {
  border: none;
  background: #eee;
  border-radius: 0;
  text-align: center;
  color: #222;
  outline: none !important;
  box-shadow: none;
}
.alligator a.nav-link:hover, .alligator a.nav-link.active {
  background: #ff6c03;
  border: none;
  color: #fefefe;
  outline: none !important;
  box-shadow: none;
}




/************************************************

           == Job Detail css==

*************************************************/

.job-header {
  background: #fefefe;
  border: 1px solid #e4e4e4;
  margin-bottom: 30px;
}
.job-header .jobinfo {
  padding: 25px;
  border-bottom: 1px solid #e4e4e4;
}
.job-header .jobinfo h2 {
  font-size: 24px;
  color: #444;
}
.job-header .jobinfo .ptext {
  color: #999;
  margin: 12px 0;
}
.job-header .jobinfo .salary {
  font-size: 16px;
  font-weight: 700;
  color: #888;
}
.job-header .jobinfo .salary strong {
  color: #000;
}
.companyinfo {
  text-align: center;
  margin-bottom: 30px;
  background: #fefefe;
  padding: 30px;
}
.companyinfo .companylogo {
  width: 150px;
  background: #fefefe;
  border: 5px solid #eee;
  display: inline-block;
}
.companyinfo .companylogo img {
  display: block;
}
.companyinfo .ptext{color: #555; padding: 7px 0;}
.companyinfo .title a {
  font-size: 28px;
  font-weight: bold;
  color: #555;
}
.companyinfo .opening a {
  color: #555;
  font-size:12px;
}
/*Candidate Info*/

.job-header .jobinfo .candidateinfo .userPic {
  float: left;
  width: 150px;
  height: 150px;
  background: #cbcbcb;
  margin-right: 20px;
/*  border: 5px solid #8aadff;*/
  border: 5px solid #142d99;
}
.job-header .jobinfo .candidateinfo .title {
  font-size: 24px;
  color: #333;
  font-weight: 600
}
.job-header .jobinfo .candidateinfo .desi {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}
.job-header .jobinfo .loctext {
  line-height: 24px;
  color: #555;
  margin-top: 8px;
}

.job-header .jobinfo .loctext i {
  width: 20px;
/*  color: #8aadff; */
  color: #142d99;
}

.job-header .jobinfo .loctext a{
/*  color: #8aadff; */
  color: #142d99;
}

.cadsocial {
  margin-top: 10px;
}
.cadsocial a {
  color: #666;
  font-size: 24px;
  display: inline-block;
  margin-right: 7px;
}
.cadsocial a:hover {
/*  color: #8aadff;*/
  color: #142d99;
}
.relatedJobs {
  margin-bottom: 30px;
}
.relatedJobs h3, .relatedJobs .relatedJobtitle {
  font-size: 24px;
  font-weight: 700;
  color: #555;
  margin-bottom: 15px;
}
.relatedJobs .relatedJobtitle {
  font-size: 24px;
  font-weight: 700;
  color: #555;
}
/*Buttons*/

.jobButtons {
  padding: 20px 25px;
}
.jobButtons a {
  background: #fefefe;
  margin-right: 10px;
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
  border : 1px solid #e4e4e4;
}
.jobButtons a.report {
  background: #fefefe;
  color: #e01010 !important;
  border: 1px solid #e4e4e4;
}
.jobButtons a.apply {
  background: #fefefe;
/*  color: #8aadff !important;*/
  color: #142d99 !important;
  border: 1px solid #e4e4e4;
}
.jobButtons .jbexpire {
  background: #fefefe;
  color: #FF7C69 !important;
  border: 1px solid #e4e4e4;
  display: inline-block;
  padding: 10px 15px;border-radius: 5px;
  cursor: not-allowed
}
.jobButtons a.download {
  background: #fefefe;
/*  color: #8aadff !important; */
  color: #142d99 !important;
  border: 1px solid #e4e4e4;
}
.jobButtons a:hover {
/*  background: #222;*/
  color: #fefefe;
}
.job-header .contentbox {
  padding: 35px;
}
.job-header .contentbox h3 {
  font-size: 24px;
  font-weight: 700;
/*  color: #8aadff;*/
  color: #142d99;
  margin-bottom: 10px;
}
.job-header .contentbox p {
  line-height: 24px;
  color: #555;
  margin-bottom: 20px;
}
.job-header .contentbox p strong{font-weight: 700;}
.job-header .contentbox p em{font-style: italic;}
.job-header .contentbox p u{text-decoration: underline;}


.job-header .contentbox ul {
  margin-bottom: 30px;
  list-style-type: none;
}
.job-header .contentbox ul li {
  padding: 7px 0 7px 25px;
  position: relative;
  line-height: 24px;
}
.job-header .contentbox ul li:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #a8d815;
  position: absolute;
  left: 0;
}
/*
ul.skillslist{margin-bottom: 0 !important;}
ul.skillslist li:before{display: none;}
ul.skillslist li{display: inline-block; padding: 0 !important;}
ul.skillslist li a{display: inline-block; background: #eee; color: #555; padding: 10px 20px; margin: 5px 10px 5px 0; border-radius: 5px; font-weight: 600;}
ul.skillslist li a:hover{text-decoration: none; background:#a8d815; color: #fff;}
*/

div.skillslist{margin-bottom: 0 !important;}
div.skillslist span{background: #fefefe; color: #555; padding: 10px 20px; margin: 10px 10px 5px 0; border-radius: 5px; font-weight: 600; border: 1px solid #e4e4e4}


/*Job Info*/
.jobdetail .table-bordered {
  border: none;
  margin-bottom: 0;
}
.jobdetail .table-bordered td {
  border: none;
  border-top: 1px solid #ddd;
}
.jobdetail {
  padding: 20px;
}
.jobdetail iframe {
  width: 100%;
  height: 250px;
  border: none
}
.jobdetail h3 {
  font-size: 18px;
/*  color: #8aadff; */
  color: #142d99;
  font-weight: 700;
}
.jbdetail {
  margin-top: 20px;
  color: #908f8f;
}

.jbdetail a {
  display: block;
  text-align: right;
  color: #555;
  font-weight: 600;
}
.jbdetail span {
  display: block;
  text-align: right;
  color: #555;
  font-weight: 600;
}
.jbdetail span.permanent {
  color: #555;
}
.jbdetail span.contract {
/*  color: #8aadff; */
  color: #142d99;
}
.jbdetail span.freelance {
  color: #555;
  background: none;
  padding: 0;
}
/*Skills*/

.skillswrap {
  margin-top: 20px;
}
.skillswrap h5 {
  color: #7b7b7b;
  font-weight: 400;
  margin-bottom: 5px;
}
/*Education*/

.educationList {
  margin-bottom: 0 !important;
}
.educationList li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  margin-top: 30px;
}
.educationList li:hover {
/*  border-bottom-color: #8aadff;*/
  border-bottom-color: #142d99;
}
.educationList li:before {
  display: none;
}
.educationList li:last-child {
  border-bottom: 0;
}
.educationList li .date {
  width: 90px;
  height: 90px;
  background: #888;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  padding-top: 17px;
  line-height: 18px;
  float: left;
  color: #fefefe;
  margin-right: 20px;
}
.educationList li h4 {
  font-size: 18px;
  font-weight: 700;
  color: #58c0ff;
  margin-bottom: 5px;
}
.educationList li p {
  margin-bottom: 0 !important;
}
/*Experience*/

.experienceList {
  margin-bottom: 0 !important;
}
.experienceList li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
  margin-top: 30px;
}
.experienceList li:hover {
/*  border-bottom-color: #8aadff; */
  border-bottom-color: #142d99;
}
.experienceList li:before {
  display: none;
}
.experienceList li:last-child {
  border-bottom: 0;
}
.experienceList li h4 {
  font-size: 18px;
  font-weight: 700;
  color: #58c0ff;
  margin-bottom: 10px;
}
.experienceList li p {
  margin-bottom: 0 !important;
  margin-top: 10px;
}
/*Portfolio*/

.userPortfolio li {
  padding: 0 15px !important;
  margin-top: 30px;
}
.userPortfolio li:before {
  display: none;
}
.userPortfolio li .imgbox {
  overflow: hidden;
  position: relative
}
.userPortfolio li .itemHover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22,34,46,.9);
  transform: scale(0);
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease
}
.userPortfolio li:hover .itemHover {
  transform: scale(1)
}
.userPortfolio li .zoombox {
  display: table;
  width: 100%;
  height: 20%;
  text-align: right
}
.userPortfolio li .item-zoom {
  display: inline-block;
  border: 2px solid #fefefe;
  padding: 6px 12px;
  margin: 15px 15px 0 0;
  color: #fefefe;
}
.userPortfolio li .item-zoom:hover {
  background: #2079f2
}
.userPortfolio li .infoItem {
  display: table;
  width: 100%;
  height: 70%;
  text-align: center
}
.userPortfolio li .itemtitle {
  vertical-align: bottom;
  padding: 0 15px 15px;
  position: relative;
  display: table-cell;
}
.userPortfolio li .itemtitle h5 {
  color: #fefefe;
  font-size: 18px;
  margin: 0 0 5px
}
.userPortfolio li .itemtitle p {
  color: #ccc;
  line-height: 18px
}
.userPortfolio li .itemtitle a {
  color: #2079f2
}
.userPortfolio li.shown, .no-cssanimations .userPortfolio li, .no-js .grid li {
  opacity: 1
}
.userPortfolio li a, .userPortfolio li img {
  outline: 0;
  border: none;
  display: block;
  max-width: 100%
}
.panel-heading-reset-password {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}


.jobSalary .modal, .jobLocation .modal, .jobFilter .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.jobSalary .modal-dialog, .jobLocation .modal-dialog, .jobFilter .modal-dialog  {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.jobSalary .modal-content, .jobLocation .modal-content, .jobFilter .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #fed136;
  border-radius: 0;
  box-shadow: none;
}
.jobSalary .modal-header, .jobLocation .modal-header, .jobFilter .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #FED136;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.jobSalary .modal-title, .jobLocation .modal-title, .jobFilter .modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fefefe;
  line-height: 30px;
}
.jobSalary .modal-body, .jobLocation .modal-body, .jobFilter .modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}
.jobSalary .modal-footer, .jobLocation .modal-footer, .jobFilter .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
  background-color : transparent !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

/*BREADCRUMB*/

.cst-breadcrumb{
  height: 30px;
  margin-top: 5px;
  padding: 0px;
  border-bottom: 1px solid #f5f5f5;
}

.page-title-breadcrumb{
  height: 30px;
  margin-top: 5px;
  padding: 0px 25px;
}

.cst-breadcrumb-inside{
  height: 100%;
  min-width: 20px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.cst-breadcrumb-inside > img{
  height: 100%;
  vertical-align: middle!important;
  height: 25px!important;
  margin-top: -3px!important;
  margin-left: 7px;
  margin-right: 7px;
}
.cst-breadcrumb-inside > a{
  color: #666666!important;
  text-decoration: none;
}

.header-cat-product{
  box-shadow: none;
  border-radius: 0px;
  margin-left: -15px;
  border: none;
  background: transparent;
  border-top: 1px solid #0288b1;
  margin-bottom: 0px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 5px;
}

.btn-normal{
  background: #fefefe!important;
  border:1px solid #ddd!important;
  border-radius:0px!important;
}


/************************************************

           == Dashboard Page css==

*************************************************/

.usernavdash {
  margin-bottom: 30px;
}
.usernavdash li a {
  border: 1px solid #eee;
  border-bottom: none;
  padding: 10px 15px;
  color: #444;
  display: block;
  background: #fefefe;
}
.usernavdash li:last-child a {
  border-bottom: 1px solid #eee;
}
.usernavdash li a:hover {
/*  background: #8aadff; */
  background: #142d99;
  color: #fefefe;
  text-decoration: none;
}
.usernavdash li i {
  margin-right: 2px;
  font-size: 18px;
  width: 25px;
  color: #999;
}
.usernavdash li.active a {
/*  background: #8aadff; */
  background: #142d99;
  color: #fefefe;
}
.usernavdash li.active a i, .usernavdash li a:hover i {
  color: #fefefe;
}
.profilestat li .inbox {
  border: 1px solid #eee;
  text-align: center;
  background: #fefefe;
  padding: 15px 10px;
  margin-bottom: 30px;
}
.profilestat li i {
  font-size: 36px;
  color: #999;
  margin-bottom: 15px;
  display: block;
}
.profilestat li h6 {
  font-size: 30px;
  font-weight: 600;
/*  color: #8aadff; */
  color: #142d99;
  margin-bottom: 10px;
}
.profilestat li h6 span {
  font-size: 18px;
  color: #999;
}
.profilestat li strong {
  display: block;
  font-size: 13px;
  color: #333;
}
.instoretxt {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: #fefefe;
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 30px;
}
.instoretxt .credit {
  font-size: 24px;
  margin-bottom: 20px;
}
.instoretxt .currency {
  font-size: 16px;
  font-weight: 700;
}
.instoretxt .currency strong {
/*  color: #8aadff; */
  color: #142d99;
}
.instoretxt strong {
  font-weight: 700;
/*  color: #8aadff; */
  color: #142d99;
}
.instoretxt a {
  font-size: 18px;
  display: inline-block;
  padding: 9px 20px;
/*  background: #8aadff; */
  background: #142d99;
  color: #fefefe;
  margin: 0 5px;
}
.instoretxt a:hover {
  background: #333;
  text-decoration: none;
}
.instoretxt a.history {
  background: #444;
}
.myads h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
}
/* The switch - the box around the slider */



.switchbox {
  margin-bottom: 20px;
}
.switchbox .txtlbl {
  float: left;
  font-size: 16px;
  font-weight: 700;
/*  margin-top: 5px; */
}
.switchbox .txtlbl i {
  font-size: 14px;
  font-weight: 400;
  color: #666
}
.switchbox strong {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px !important;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 10px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 10px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 33px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

.active-font-standard{
  color:#142d99 !important;
}
.font-standard a{
  color:#fd9537 !important;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #a94442;
}

/**************************

	Pay Packages

**************************/







/*************************

	Three colum Packages

*************************/

.four-plan h3 {
  padding: 0px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.four-plan .boxes {
  list-style: none;
  border-radius: 5px;
  background: #fefefe;
  padding: 10px 20px;
  text-align: center;
  margin-top: 30px;
}
.four-plan .boxes:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.four-plan .boxes li {
  display: block;
}
.four-plan .icon {
  font-size: 52px;
  color: #565656;
  padding: 30px 0
}
.four-plan .plan-name {
  font-size: 26px;
  font-weight: 600;
  padding: 10px 0;
}
.four-plan .plan-date {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}
.plan-pages {
  font-size: 16px;
  line-height: 43px;
  font-weight: bold;
  color: #868686
}
.plan-pages1 {
  display: block;
  font-size: 16px;
  line-height: 43px;
  font-weight: bold;
  color: #e2e2e2
}
.order {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.order a {
/*  background: #8aadff; */
  background: #142d99;
  border-radius: 5px;
  padding: 12px 20px;
  color: #fefefe;
  text-decoration: none;
  display: block;
}
.order.paypal a{background:#003087 ;}
.order a:hover {
  background: #333;
}

.main-plan {
  margin-bottom: 15px;
}
.main-plan .plan-price1-1 {
  font-size: 24px;
  float: left;
  color: #565656;
  padding-top: 22px;
  font-weight: 300;
}
.main-plan .plan-price1-2 {
  font-size: 48px;
  font-weight: bold;
  float: left;
  color: #222;
}
.main-plan .plan-price1-3 {
  font-size: 18px;
  float: left;
  line-height: 20px;
  margin-right: 30px;
  color: #cdcdcd;
  font-weight: 300;
  padding-top: 32px;
}
.main-plan .plan-price1-4 {
  display: block;
}
/*************************

	Three colum Packages

*************************/

.three-plan {
  padding: 100px 0;
}
.three-plan h3 {
  padding: 0px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.three-plan ul {
  list-style: none;
  background: #fefefe;
}
.three-plan li {
  padding: 0px;
}
.three-plan .boxes {
  background: #fefefe;
  margin-top: 30px;
}
.pricing-table1 {
  background: #ffc600;
  text-align: center;
  color: #fefefe;
  font-size: 26px;
  padding: 10px 0px;
  font-weight: 600;
}
.pricing-table1 strong {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.pricing-detail {
  list-style: none;
}
.pricing-detail li {
  display: block;
  text-align: center;
}
.pricing-unit1 {
  font-size: 57px;
  float: left;
  color: #ffc600;
  margin-left: 20px;
  padding-top: 80px;
  font-weight: 300;
}
.pricing-unit1-1 {
  font-size: 132px;
  font-weight: bold;
  color: #ffc600;
  float: left;
}
.pricing-unit1-2 {
  font-size: 18px;
  line-height: 20px !important;
  color: #cdcdcd;
  float: left;
  font-weight: 300;
  padding-top: 100px;
}
.pricing-unit1-3 {
  display: block;
}
.pricing-unit2 {
  font-size: 57px;
  float: left;
  color: #00aeff;
  margin-left: 20px;
  padding-top: 80px;
  font-weight: 300;
}
.pricing-unit2-1 {
  font-size: 132px;
  font-weight: bold;
  color: #00aeff;
  float: left;
}
.pricing-unit2-2 {
  font-size: 18px;
  line-height: 20px !important;
  color: #cdcdcd;
  font-weight: 300;
  padding-top: 100px;
}
.pricing-unit2-3 {
  display: block;
}
.pricing-unit3 {
  font-size: 57px;
  float: left;
  color: #56d700;
  margin-left: 20px;
  padding-top: 80px;
  font-weight: 300;
}
.pricing-unit3-1 {
  font-size: 132px;
  font-weight: bold;
  color: #56d700;
  float: left;
}
.pricing-unit3-2 {
  font-size: 18px;
  line-height: 20px !important;
  color: #cdcdcd;
  font-weight: 300;
  padding-top: 100px;
}
.pricing-unit3-3 {
  display: block;
}
.three-plan .plan-name-dt {
  font-size: 36px;
  font-weight: bold;
  color: #5c5c5c;
  padding: 0px 82px;
  padding-top: 75px;
  line-height: 44px;
  padding-bottom: 39px;
}
.three-plan .plan-good i {
  font-size: 18px;
  color: #a8a8a8;
  margin-right: 12px;
}
.three-plan .plan-pages {
  font-size: 16px;
  line-height: 43px;
  padding-left: 70px;
  font-weight: 300;
  color: #a8a8a8;
  border-top: 1px solid #f5f5f5;
  padding-top: 3px;
}
.three-plan .plan-detail {
  font-size: 16px;
  line-height: 43px;
  text-align: center;
  font-weight: bold;
  color: #868686;
  border-top: 1px solid #f5f5f5;
  padding-top: 3px;
}
.three-plan .plan-detail1 {
  font-size: 16px;
  line-height: 43px;
  text-align: center;
  font-weight: bold;
  color: #868686;
  border-top: 1px solid #f5f5f5;
  padding-top: 3px;
}
.three-plan .plan-detail1 i {
  color: green !important;
}
.three-plan .plan-detail i {
  color: red !important;
}
.pricing-table1-2 {
  background: #000;
  text-align: center;
  color: #fefefe;
  font-size: 26px;
  padding: 10px 0px;
  font-weight: 600;
}
.pricing-table1-2 strong {
  display: block;
  font-size: 16px;
  font-weight: normal;
}
.pricing-table1-3 {
  background: #56d700;
  text-align: center;
  color: #fefefe;
  font-size: 26px;
  padding: 10px 0px;
  font-weight: 600;
}
.pricing-table1-3 strong {
  display: block;
  font-size: 16px;
  font-weight: normal;
}
.three-plan .plan-pages i {
  font-size: 18px;
  color: #a8a8a8;
  margin-right: 12px;
}
.three-plan .plan-pages1 {
  display: block;
  font-size: 16px;
  line-height: 43px;
  font-weight: bold;
  color: #e2e2e2
}
.three-plan .order-1 {
  background: #ffc600;
  font-size: 16px;
  padding: 25px 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.three-plan .order-1 a {
  background: #000;
  border-radius: 5px;
  padding: 12px 32px;
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
}
.three-plan .order-2 {
  background: #000;
  font-size: 16px;
  padding: 25px 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.three-plan .order-2 a {
  background: #00aeff;
  border-radius: 5px;
  padding: 12px 32px;
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
}
.three-plan .order-3 {
  background: #56d700;
  font-size: 16px;
  padding: 25px 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.three-plan .order-3 a {
  background: #000;
  border-radius: 5px;
  padding: 12px 32px;
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:530px;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.job-position-title a h3{
  font-size: 24px;
  font-weight: 700;
/*  color: #8aadff; */
  color: #142d99;
  margin-bottom: 10px;
}

.border-radius-0{
  border-radius: 0;
}

.fnt-theme, .fnt-theme a{
/*  color: #8aadff !important;*/
  color: #142d99 !important
}
.fnt-theme-dark, .fnt-theme-dark a{
  color: #555 !important;
}

.fnt-theme a:focus{
  text-decoration: none;
}

.btn-cancel{
  color: #333;
  background-color: #ddd;
  border-color: transparent;
}

.job-posted-description {
  margin-bottom: 30px !important;
}

.job-posted-description li{
  border : none !important;
  padding : 0 !important;
  margin-bottom: 0 !important;
}

.job-posted-description li:hover {
  box-shadow: none !important;
  border: none !important;
}